.wrapper {
    background: rgb(16, 106, 167);
    background: url("../Wrapper/images/PokemonLandscape.jpg");
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  